<!-- File name: about.ejs
Name: Pavankumar Patel
student ID: 301299711 
Course: Software Engineering Technician
College: Centennial College
Date: 10/06/2023 -->

<!-- about section -->
<section id="about" style="background-color: #f7f7f7; padding: 40px 0;">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">About Me</h1>
        <div class="row mt-4">
            <div class="col-lg-5">
                <img src="/img/Pavanabout.jpg" class="imageAboutPage" alt="" style="max-width: 100%; border-radius: 15px; box-shadow: 0 5px 15px rgba(0,0,0,0.2);">
            </div>
            <div class="col-lg-7" style="padding-left: 30px;">
                <p>
                    As a passionate student working towards an Advanced Diploma in Software Engineering Technology at Centennial College,
                    I've honed a wide array of skills, including proficiency in programming languages like Java, Python, JavaScript, C#, HTML, and CSS.
                    My expertise also spans web development, covering frontend frameworks such as React and Angular and backend technologies like Node.js
                    and Django. Additionally, I'm adept at handling databases, with experience in both SQL and NoSQL systems, including MongoDB.
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Name:</strong> Pavankumar Patel</li>
                            <li><strong>Age:</strong> 21</li>
                            <li><strong>Occupation:</strong> student</li>
                            <li><strong>Hobbies:</strong> Cycling, Reading, Coding</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>College:</strong> Centennial College</li>
                            <li><strong>Location:</strong> Scarborough, Ontario, Canada</li>
                            <li><strong>Major:</strong> Software Engineering Technician</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <p>
                        My academic background has solidified my grasp on software design, data structures, and algorithmic principles.
                        I'm also familiar with the nuances of the Software Development Life Cycle (SDLC) and appreciate the importance of teamwork in development
                        projects. My familiarity spans across multiple operating systems like Windows, Linux, Unix, and macOS, and my command-line expertise amplifies
                        my adaptability as a software developer..
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>