<!-- File name: home.ejs
Name: Pavankumar Patel
student ID: 301299711 
Course: Software Engineering Technician -->
<!-- footer section-->
<footer id="footer">
    <div class="container-fluid">
        <!-- social media icons -->
        <div class="social-icons mt-4">
            <a href="https://www.facebook.com/profile.php?id=100082055637243" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/itz.pavan_patel2002/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/Pavankumar/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </footer>
  </body>
  </html>
    