<!-- File name: portfolio.ejs
Name: Pavankumar Patel
student ID: 301299711 
Course: Software Engineering Technician -->
<!-- portfolio section-->
<section id="portfolio">
    <div class="container mt-3">
        <h1 class="text-center">Portfolio</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="/img/PavanCal.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">GUI - Scientific Calculator</h4>
                        <p class="card-text">Developed a functioning Scientific Calculator application using Windows Form with Java.</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="/img/database.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Database Development - eCommerce</h4>
                        <p class="card-text">	Designed a database for an eCommerce business using SQL Developer that allows users to buy movie tickets.
                            Database Offer users the convenience of browsing movie listings, selecting seats, and purchasing tickets.
                            </p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="/img/SRS.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Software Requirements Specification (SRS)</h4>
                        <p class="card-text">Created a SRS to design a software for a fitness mobile application (FitMonitor), applying Agile in a team. </p>
                    </div>
                </div>
            </div>
        </div>
  </section>
        