<!-- File name: services.ejs
Name: Pavankumar Patel
student ID: 301299711 
Course: Software Engineering Technician
College: Centennial College
 services section-->
<section id="services">
    <div class="container">
        <h1 class="text-center">Services</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class="fas servicesIcon fa-clock"></i>
                        <h4 class="card-title mt-3">Website Development</h4>
                        <p class="card-text mt-3">Design and construct websites tailored to the needs of small businesses or individuals.
                            Develop bespoke web applications in line with client specifications.
                            Provide ongoing website support and updates.
                        </p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-layer-group'></i>
                        <h4 class="card-title mt-3">Software Development</h4>
                        <p class="card-text mt-3">Construct desktop applications tailored to specific tasks or industries.
                            Deliver software solutions to streamline business operations.
                            Create plugins or extensions for widely-used software platforms.
                        </p>
                    </div>
                </div>  
            </div>
  
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='far servicesIcon fa-check-circle'></i>
                        <h4 class="card-title mt-3">Database Management</h4>
                        <p class="card-text mt-3">Design and fine-tune databases for effective data storage and retrieval.
                            Provide services for data migration and integration.
                        </p>
                    </div>
                </div>  
            </div>
        </div>
  
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-search'></i>
                        <h4 class="card-title mt-3">Code Review and Optimization</h4>
                        <p class="card-text mt-3">Review existing codebases for quality, security, and performance.
                            Optimize code for better efficiency and scalability.
                        </p>
                    </div>
                </div>  
            </div>
  
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-shield-alt'></i>
                        <h4 class="card-title mt-3">Documentation</h4>
                        <p class="card-text mt-3">Create technical documentation for software projects.
                            Write user manuals and guides for end-users.
                        </p>
                    </div>
                </div>  
            </div>
  
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-wrench'></i>
                        <h4 class="card-title mt-3">Quality Assurance and Testing</h4>
                        <p class="card-text mt-3">Perform manual and automated testing of software applications.
                            Create test plans and documentation for projects.
                            Help clients improve the quality of their software products.
                        </p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
  </section>